
.videoBox {
  display: flex;
  .leftVideo {
    width: 11.24rem;
    // height: 8.68rem;
    .videoContainer {
      height: 7.08rem;
      width: 11.24rem;
      // border: 1px solid red;
      background: rgba(255,255,255,0.1);
      border-radius: 0.08rem;
      .xgplayer {
        video {
          object-fit: unset;
        }
      }
    }
    .videoInfo {
      // border: 1px solid blue;
      width: 11.24rem;
      .videoTitle {
        margin-top: 0.24rem;
        font-size: 0.28rem;
        line-height: 0.32rem;
        color: rgba(255,255,255,0.9);
        font-weight: 500;
        margin-bottom: 0.12rem;
      }
      .videoStar {
        display: flex;
        // border: 1px solid red;
        align-items: center;
        margin-bottom: 0.12rem;
        .videoScore{
          font-size: 0.18rem;
          line-height: 0.2rem;
          color: rgba(255,255,255,0.8);
        }
      }
      .videoDesc {
        font-size: 0.14rem;
        line-height: 0.2rem;
        color: rgba(255,255,255,0.6);
      }
    }
  }
  .eposipeAll {
    width: 3.04rem;
    height: 8.68rem;
    overflow-y: scroll;
    border-radius: 0.08rem;
    // border: 1px solid yellow;
    padding: 0.08rem 0.12rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    .eposipeTop {
      display: flex;
      align-items: center;
      .eposipeTit {
        font-size: 0.2rem;
        font-weight: 500;
        line-height: 0.24rem;
        color: rgba(255,255,255,0.9);
      }
      .eposipeCur {
        line-height: 0.2rem;
        color: rgba(255,255,255,0.4);
        font-size: 0.14rem;
        margin-left: 0.08rem;
      }
    }
    .allEpo {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 0.08rem;
      padding-bottom: 0.08rem;
      padding-top: 0.08rem;
      .linkItem {
        height: 1.45rem;
        width: 0.88rem;
        // border: 1px solid orange;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.03rem;
        .EpoItem {
          width: 0.88rem;
          height: 1.17rem;
          border-radius: 0.03rem;
        }
        .linkText {
          font-weight: 500;
          line-height: 0.2rem;
          color: rgba(255,255,255,0.8);
        }
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}