.secondListWrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.1rem;
  padding-bottom: 0.1rem;

  .secondListBox {
    width: 2.28rem;
    height: 4.1rem;
    position: relative;

    .bookImage {
      width: 2.28rem;
      height: 3.04rem;
      border-radius: 0.04rem;
      overflow: hidden;
      position: relative;
      z-index: 9;
      display: flex;
      align-items: center;
    }

    .chapterCount {
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 0.56rem;
      top: 2.48rem;
      left: 0;
      padding: 0.25rem 0.08rem 0;
      display: flex;
      align-items: center;

      .chapterCountIcon {
        width: 0.16rem;
        height: 0.16rem;
        margin-right: 0.04rem;
      }

      p {
        text-align: right;
        font-size: 0.13rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
        line-height: 0.18rem;
      }

    }

    .bookName {
      max-width: 2.28rem;
      font-weight: 500;
      color: $pc_home_name_color;
      font-size: 0.16rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-wrap: break-word;
      line-height: 0.22rem;
      position: absolute;
      top: 3.16rem;
      left: 0;
      z-index: 1;
      opacity: 1;
    }

    .bookNameBox {
      position: relative;
      z-index: 2;
      display: block;
      opacity: 0;
      padding: 0.12rem;
      background: $pc_home_swiper_bg;
      border-radius: 0 0 0.04rem 0.04rem;

      .bookNameHover {
        display: block;
        font-size: 0.16rem;
        font-weight: 500;
        color: #FF375F;
        line-height: 0.22rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-wrap: break-word;
        margin-bottom: 0.1rem;
      }
    }

    &:hover {
      .bookName {
        //display: none;
        opacity: 0;
      }

      .bookNameBox {
        opacity: 1;
      }

      .bookImage {
        border-radius: 0.04rem 0.04rem 0 0;
      }
    }

  }
}
