.episodeHeader {
  background-color: #000000;
  display: flex;
  align-items: center;
  height: 0.80rem;
  padding: 0 0.32rem;
}
.mEpibox {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.11rem;
    .videoContainer {
        display: flex;
        flex-direction: column;
        border: 1px solid reds;
        // padding: 0.25rem 0.32rem;
        .videoArea {
            height: 6.4rem;
            width: 100%;
            margin-bottom: 0.16rem;
            position: relative;
            .videoPlace {
                height: 6.4rem;
                width: 100%;
            }
            .downloads {
                position: absolute;
                height: 5.63rem;
                width: 3.6rem;
                top: 46%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 99;
                background: rgba(255,255,255,0.1);
                backdrop-filter: blur(10px);
                .errBg {
                  width: 3.6rem;
                  height: 100%;
                  // filter: opacity(0.5);
                  filter: brightness(0.4);
                }
                .downInfo {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  .downTip {
                    font-size: 0.2rem;
                    line-height: 0.24rem;
                    color: #fff;
                    width: 3.37rem;
                    white-space: nowrap;
                    margin-bottom: 0.24rem;
                    margin-left: -0.59rem;
                  }
                  .btnDown {
                    background: linear-gradient(270deg, #FF871F 0%, #FF0045 48%, #F40065 100%);
                    border-radius: 0.24rem;
                    height:0.48rem;
                    line-height: 0.48rem;
                    text-align: center;
                    color: #fff;
                    width: 3.37rem;
                  }
                }
              }
        }
        .videoIntro {
            width: 100%;
            padding: 0rem 0.32rem;
            .videoTit {
                font-size: 0.32rem;
                color: rgba(255, 255, 255, 0.8);
                line-height: 0.42rem;
                font-weight: 500;
                margin-bottom: 0.08rem;
            }
            .videoScore {
                display: flex;
                align-items: center;
                .epoImg {
                    width: 0.4rem;
                    height: 0.4rem;
                }
                .epoScore {
                    font-size: 0.2rem;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 0.8);
                    line-height: 0.18rem;
                }
            }
            .videoTag {
                margin-bottom: 0.08rem;
                display: flex;
                margin-top: 0.16rem;
                .tagItem {
                    color: rgba(255,255,255,0.6);
                    font-size: 0.22rem;
                    line-height: 0.26rem;
                    padding: 0.05rem 0.12rem;
                    margin-right: 0.12rem;
                    background: rgba(255,255,255,0.1);
                    backdrop-filter: blur(20px);
                    border-radius: 0.18rem;

                }
            }
            .videoDesc {
                color: rgba(255,255,255,0.4);
                line-height: 0.4rem;
                font-size: 0.28rem;
                margin-bottom: 0.24rem;
            }
        }
    }
    .epiList {
        border-top: 0.08rem solid #141414;
        padding: 0.32rem 0.32rem 0.48rem 0.32rem;
        .titleList {
            display: flex;
            align-items: center;
            margin-bottom: 0.16rem;

            .titleLeft {
                font-size: 0.32rem;
                line-height: 0.38rem;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.7);
            }
            .titleRight {
                color: rgba(255, 255, 255, 0.4);
                font-size: 0.28rem;
                line-height: 0.4rem;
                margin-left: 0.04rem;
            }
        }
        .epilistBox {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-row-gap: 0.09rem;
            grid-column-gap: 0.08rem;
            .epiOuter {
                background: rgba(255,255,255,0.05);
                border-radius: 0.08rem;
                border: 0.01rem solid rgba(255,255,255,0.1);
                width: 1.3rem;
                height: 1rem;
                text-align: center;
                line-height: 1rem;
                color: rgba(255,255,255,0.8);
                font-weight: bold;
                .epiItem {
                    width: 100%;
                    height: 100%;
                    p {
                        color: #fff;
                    }
                }
                .epiItemMask {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    p {
                        color: rgba(255,255,255,0.4);
                    }
                    &::after {
                        position: absolute;
                        content: '';
                        display: block;
                        overflow: hidden;
                        width: 0.24rem;
                        height: 0.24rem;
                        right: 0.08rem;
                        top: 0.08rem;
                        background: url('/images/book/lock-video.png') no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
    .mightLike {

    }
    .navBox {
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.11rem;
        display: flex;
        justify-content: space-around;
        background-color: #000;
        .episodesIcon, .playIcon, .downloadIcon {
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: center;
          .navIcon {
            width: 0.64rem;
            height: 0.64rem;
          }
          span {
            font-size: 0.28rem;
            line-height: 0.32rem;
            color: rgba(255,255,255,0.8);
            padding-top: 0.04rem;
          }
          .playTxt {
            color: #FF375F;
          }
        }
    }
}
