.keywordsWrap {
  padding: 0 0.32rem 1.44rem;
  background-color: $theme_main_bg;

  .keywordsHeader {
    display: flex;
    align-items: center;
    height: 0.80rem;
    // position: sticky;
    top: 0.87rem;
  }

  .keywordBox {
    padding-top: 0.16rem;
    min-height: calc(100vh - 4.2rem);

    .keywordItem {
      display: inline-block;
      margin: 0 0.24rem 0.24rem 0;
      padding: 0.04rem 0.16rem;
      font-size: 0.32rem;
      color: $theme_color;
      font-weight: 400;
      line-height: 0.36rem;
      background: $pc_detail_bg;
      border-radius: 0.22rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }
  }
}
