.firstItemWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.16rem;

  .itemBox {
    width: 2.18rem;
    padding-bottom: 0.32rem;

    .bookImage {
      width: 2.18rem;
      height: 2.94rem;
      overflow: hidden;
      border-radius: 0.08rem;
      display: flex;
      align-items: center;
    }

    .bookName {
      padding-top: 0.16rem;
      display: block;
      width: 2.18rem;
      color: $m_home_name_color;
      font-size: 0.28rem;
      font-weight: 400;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 0.32rem;
    }
  }
}


