.recommendBox {
  padding-bottom: 0.4rem;

  .titleText {
    font-size: 0.28rem;
    font-weight: bold;
    color: $pc_home_name_color;
    line-height: 0.28rem;
    margin-bottom: 0.24rem;
  }

  .listBox {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.1rem;

    .listItem {
      width: 2.28rem;
      position: relative;
      margin-right: 0.09rem;

      &:last-child {
        margin-right: 0;
      }

      .coverBox {
        width: 2.28rem;
        height: 3.04rem;
        border-radius: 0.08rem;
        overflow: hidden;
        position: relative;

        .bookImage {
          display: block;
          width: 100%;
          height: 100%;
        }

        .chapterCount {
          position: absolute;
          z-index: 10;
          width: 100%;
          bottom: 0;
          left: 0;
          padding: 0.24rem 0.08rem 0;
          height: 0.48rem;
          display: flex;
          align-items: center;
          background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%);

          .playIcon {
            width: 0.16rem;
            height: 0.16rem;
          }

          .chapterText {
            font-size: 0.14rem;
            color: rgba(255, 255, 255, 0.8);
            margin-left: 0.02rem;
          }
        }
      }

      .bookName {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-wrap: break-word;
        font-size: 0.18rem;
        font-weight: 500;
        color: $pc_crumbs_color;
        line-height: 0.24rem;
        max-height: 0.48rem;
        margin-top: 0.12rem;
        padding: 0 0.09rem;
      }

      .tagItem {
        display: inline-block;
        font-size: 0.12rem;
        font-weight: 400;
        color: $pc_home_intro_color;
        border-radius: 0.12rem;
        padding: 0 0.1rem;
        background-color: $pc_detail_bg;
        max-width: 2rem;
        height: 0.24rem;
        line-height: 0.24rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0.08rem 0.09rem 0 0.09rem;
      }
    }
  }
}
