.headerWrap {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 2.08rem;

  .homeHeaderBox {
    position: relative;
    z-index: 99;
    height: 0.88rem;
    width: 100%;
    background-color: $theme_main_bg;
    padding-right: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $m_home_nav_border;

    .navMenu {
      height: 0.88rem;
      display: flex;

      .navItem {
        position: relative;
        padding: 0 0.32rem;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 400;
        color: $pc_home_name_color;
        font-size: 0.34rem;
      }

      .active {
        position: relative;
        color: $theme_color;
        font-weight: bold;
        font-size: 0.34rem;

        &:after {
          content: "";
          left: 50%;
          transform: translateX(-50%);
          background-color: $theme_color;
          border-radius: 0.04rem;
          position: absolute;
          bottom: 0;
          height: 0.06rem;
          width: 0.4rem;
        }
      }
    }
  }
}

.headerContent {
  position: relative;
  height: 0.88rem;
  width: 100%;
  //background: linear-gradient(180deg, #000000 0%, rgba(0,0,0,0.6) 100%);
  background-color: $m_nav_bg;
  backdrop-filter: blur(10px);
  padding: 0 0.32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navMenuIcon {
    width: 0.48rem;
    height: 0.48rem;
  }

  .logoBox {
    position: absolute;
    left: calc(50% - 0.9rem);
    z-index: 1;
    top: 0.24rem;
    width: 1.81rem;
    height: 0.4rem;

    .logo {
      width: 100%;
      height: 100%;
    }
  }
}
