.episopeBox {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 0.52rem;
  .topInfo {
    display: flex;
    align-items: center;
    margin-bottom: 0.28rem;
    .episopeTitle {
      font-size: 0.28rem;
      font-weight: bold;
      color: rgba(255, 255, 255, .9);
      line-height: 0.32rem;
      margin-right: 0.24rem;
    }
    .allCounts {
      color: rgba(255,255,255,0.4);
      font-size: 0.16rem;
      line-height: 0.22rem;
    }
  }
  .listInfo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0.15rem;
    .listItem {
      height: 1.25rem;
      width: 2.28rem;
      display: flex;
      border-radius: 0.08rem;
      padding: 0.04rem;
      margin-bottom: 0.08rem;
      border: 1px solid rgba(255,255,255,0.2);
      .viewMore {
        margin: auto;
        color: rgba(255,255,255,0.4);
        line-height: 0.19rem;
        font-weight: 500;
        font-size: 0.16rem;
      }
      .imgLeft {
        .imageItem {
          width: 0.88rem;
          height: 1.17rem;
          border-radius: 0.03rem;
          transition: all 0.5s;
        }
      }
      .rightIntro {
        display: flex;
        flex-direction: column;
        width: 120rem;
        justify-content: space-between;
        padding: 0.16rem 0.08rem;
        .title {
          font-size: 0.14rem;
          line-height: 0.2rem;
          color: rgba(255,255,255,0.8);
          font-weight: 500;
          height: 0.4rem;
          width: 1.2rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .pageNum {
          color: rgba(255,255,255,0.4);
          line-height: 0.16rem;
          font-size: 0.14rem;
        }
      }
      &:hover {
        .imgLeft {
          border-radius: 0.04rem 0.04rem 0 0;
  
          .imageItem {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}