.crumbsWrap {
  height: 0.8rem;
  width: 100%;
  padding: 0 0.12rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  .crumbsItem {
    font-size: 0.18rem;
    display: flex;
    align-items: center;
    margin-right: 0.08rem;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
    line-height: 0.28rem;

    .crumbsIcon {
      margin-left: 0.08rem;
      width: 0.16rem;
      height: 0.16rem;
    }
  }

  .crumbsItemTxt {
    font-size: 0.18rem;
    display: flex;
    align-items: center;
    margin-right: 0.1rem;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
  }
}
