.filmWrap {
  padding-bottom: 1.11rem;
  height: 100%;

  .filmHeader {
    background-color: $theme_main_bg;
    display: flex;
    align-items: center;
    height: 0.80rem;
    //position: sticky;
    //top: 0.87rem;
    //z-index: 99;
    padding: 0 0.32rem;
  }

}
.detailBox {
  padding: 0.48rem 0.32rem 0.24rem 0.32rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $theme_main_bg;

  .bookCover {
    width: 2.8rem;
    height: 3.78rem;
    border-radius: 0.08rem;
    overflow: hidden;
    margin: 0 auto 0.32rem;
    background: url("../../public/images/dramaboxapp/defaultFilm.png") 0 0 / 100% 100% no-repeat;
  }

  .bookCoverNew {
    width: 2.8rem;
    height: 3.78rem;
    border-radius: 0.08rem;
    overflow: hidden;
    margin: 0 auto 0.32rem;
    background: url("../../public/images/dramabox/defaultFilm.png") 0 0 / 100% 100% no-repeat;
  }

  .bookName {
    text-align: center;
    font-size: 0.4rem;
    font-weight: 500;
    color: $pc_home_name_color;
    line-height: 0.56rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    margin-bottom: 0.32rem;
  }

  .tagBox {
    margin-bottom: 0.48rem;
    grid-gap: 0.24rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .tagItem {
      font-size: 0.22rem;
      font-weight: 400;
      color: $pc_nav_color;
      line-height: 0.3rem;
      padding: 0.05rem 0.12rem;
      background-color: $pc_detail_bg;
      backdrop-filter: blur(20px);
      border-radius: 0.18rem;
    }
  }

  .footerBox {
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.52rem;

    .footerBtn {
      min-width: 2.92rem;
      height: 0.88rem;
      background: linear-gradient(90deg, #F40065 0%, #FF871F 100%);
      border-radius: 0.42rem;
      padding: 0 0.48rem;
      font-size: 0.32rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      color: rgba(255,255,255,0.9);
      .playIcon {
        width: 0.48rem;
        height: 0.48rem;
        margin-right: 0.08rem;
      }
    }
  }
}


.introBox {
  border-radius: 0.08rem;
  // padding: 0.32rem;
  position: relative;
  // background-color: #141414;
  .introTitle {
    font-size: 0.32rem;
    font-weight: 500;
    line-height: 0.38rem;
    margin-bottom: 0.16rem;
    color: $pc_home_name_color;
  }

  .introText {
    font-size: 0.28rem;
    font-weight: 400;
    color: $pc_series_color;
    line-height: 0.4rem;
    position: relative;

    a {
      position: absolute;
      right: 0.32rem;
      bottom: 0;
      z-index: 9;
      text-align: right;
      width: 0.9rem;
      font-size: 0.28rem;
      font-weight: 400;
      color: $pc_home_name_color;
      line-height: 0.34rem;
    }

    .expand, .retract {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 1.2rem;
      height: 0.4rem;
      background: linear-gradient(270deg, $theme_main_bg 0%, transparent 100%);

      .moreIcon {
        margin-left: 0.02rem;
        width: 0.24rem;
        height: 0.24rem;
      }
    }
    .retract {
      .moreIcon {
        margin-left: 0;
        transform: rotate(180deg);
      }
    }
  }
}

.episodeNav {
  position: relative;
  margin-bottom: 0.24rem;
  border-top: 0.08rem solid $m_episode_nav_border;
  border-bottom: 0.08rem solid $m_episode_nav_border;

  .catalogBox {
    padding: 0 0.32rem;
    background-color: $theme_main_bg;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .leftInfo {
      display: flex;

      .innerPt {
        color: $pc_home_name_color;
        font-size: 0.32rem;
        line-height: 0.38rem;
        margin-right: 0.08rem;
        // margin-left: 0.32rem;
      }
      .innerPl {
        font-size: 0.28rem;
        color: $pc_series_color;
        line-height: 0.4rem;
      }
    }
    .arrowIcon {
      width: 0.24rem;
      height: 0.24rem;
    }
  }
}

.rateBox {
  width: 1.52rem;
  height: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.rateItem {
  width: 0.24rem;
  height: 0.24rem;
}






