.shareBox {
  height: 0.4rem;
  display: flex;
  align-items: center;

  .shareLabel {
    font-size: 0.18rem;
    font-weight: 500;
    color: $pc_home_name_color;
    margin-right: 0.2rem;
  }

  .shareIcon {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    margin-right: 0.1rem;
    cursor: pointer;
  }

  .copyTip {
    position: relative;

    .tip {
      position: absolute;
      display: none;
      bottom: 0.56rem;
      left: -0.3rem;
      height: 0.4rem;
      line-height: 0.4rem;
      padding: 0 0.2rem;
      background: rgba(0,0,0,.8);
      border-radius: 0.06rem;
      font-size: 0.16rem;
      font-weight: 400;
      color: #fff;
      white-space: nowrap;

      &:after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: rgba(0,0,0,.8);
        bottom: -0.13rem;
        left: 0.4rem;
      }
    }

    &:hover {
      .tip {
        display: block;
      }
    }
  }
}
