.tagWrap {
  padding: 0 0.32rem 0;

  .tagHeader {
    display: flex;
    align-items: center;
    height: 0.80rem;
    position: sticky;
    top: 0.87rem;
  }

  .keywordBox {
    padding-top: 0.16rem;

    .title {
      height: 0.48rem;
      color: #FF375F;
      font-size: 0.36rem;
      font-weight: bold;
      line-height: 0.48rem;
      margin-bottom: 0.16rem;
    }

    .sub {
      font-size: 0.26rem;
      line-height: 0.32rem;
      font-weight: 400;
      color: rgba(255,255,255,0.6);
      white-space: pre-wrap;

      span {
        color: $theme_color;
      }
    }
  }

  .keywordConnect {

    .keywordConnectTitle {
      margin-bottom: 0.16rem;
      font-size: 0.32rem;
      color: rgba(255,255,255,0.8);
      line-height: 0.4rem;
    }

    .keywordConnectItem {
      height: 0.44rem;
      border-radius: 0.22rem;
      line-height: 0.44rem;
      display: inline-block;
      font-size: 0.32rem;
      margin: 0 0.24rem 0.24rem 0;
      padding: 0 0.16rem;
      background: rgba(255,255,255,0.1);
      color: $theme_color;
    }
  }

}
