// dramabox
$theme_color: #FF375F;
$theme_bg: #FFFFFF;
$theme_main_bg: #FFFFFF;

$pc_nav_color: rgba(0,0,0,0.6);
$pc_nav_bg: #FFFFFF;
$pc_nav_hover: rgba(50,50,57,0.07);
$pc_nav_border: 1px solid #EAEAEB;
$logo_color: #000000;
$pc_home_swiper_bg: rgba(50,50,57,0.07);
$pc_home_swiper_bg_hover: rgba(50,50,57,0.07);
$pc_home_name_color: rgba(0, 0, 0, 0.9);
$pc_home_intro_color: rgba(0,0,0,0.6);
$pc_footer_bg: rgba(50,50,57,0.07);
$pc_footer_color1: rgba(0,0,0,0.8);
$pc_footer_color2: rgba(0,0,0,0.6);

// 标签
$type_tag_color:  rgba(0,0,0,0.6);
// 分类
$pc_browse_color: rgba(0,0,0,0.9);
// 分页
$pc_page_active: rgba(50,50,57,0.16);

// 剧集列表
$pc_series_border: 1px solid #F2F2F3;
$pc_series_bg: #F2F2F3;
$pc_series_color: rgba(0,0,0,0.4);
$pc_detail_bg: rgba(50,50,57,0.07);
$pc_detail_header_border: 1px solid #EAEAEB;

$pc_crumbs_color: rgba(0,0,0,0.8);

$pc_extend_bg: linear-gradient(270deg, #FFFFFF 0%, rgba(255,255,255,0) 100%);
