.privacyWrap {
  padding: 0.4rem 0;
  width: 14.4rem;
  margin: 0 auto;

  .privacyBox {
    background-color: $pc_home_swiper_bg;
    border-radius: 0.04rem;
    padding: 0.64rem;

    .privacyTitle {
      margin-bottom: 0.4rem;
      font-size: 0.24rem;
      font-weight: 500;
      color: $pc_home_name_color;
      line-height: 0.32rem;
    }

    .privacyContent {
      font-size: 0.14rem;
      line-height: 0.2rem;
      white-space: pre-wrap;
      font-weight: 400;
      color: $pc_home_intro_color;
    }
  }
}


.mPrivacyWrap {
  padding: 0.32rem 0.32rem 1.76rem;

  .mPrivacyTitle {
    font-size: 0.38rem;
    font-weight: 500;
    color: $pc_home_name_color;
    line-height: 0.53rem;
    margin-bottom: 0.24rem;
    text-align: center;
  }

  .mPrivacyIntro {
    font-size: 0.28rem;
    line-height: 0.44rem;
    white-space: pre-wrap;
    font-weight: 400;
    color: $pc_footer_color2;
  }
}

