.moreBookWrap {
  width: 14.4rem;
  margin: 0 auto 0.32rem;
  background: #000000;
}

.imageItemMoreWrap {
  display: grid;
  grid-template-columns: 1.66rem auto 2rem;
  align-items: center;
  width: 100%;
  height: 2.20rem;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 8px;
  background: rgba(255,255,255,0.1);
  margin-bottom: 0.08rem;
  padding: 0.1rem;
}

.bookImageBox {
  position: relative;

  .bookImage {
    width: 1.5rem;
    height: 2rem;
    border-radius: 0.04rem;
    overflow: hidden;
  }
}


.bookInfo {
  height: 100%;
  width: 100%;
  padding-right: 0.4rem;
}

.bookNameBox {
  display: flex;
  align-items: center;
  margin-top: 0.22rem;

  .bookName {
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0.08rem;
    height: 0.32rem;
    font-size: 0.24rem;
    font-family: SFPro-Medium, SFPro;
    font-weight: 500;
    color: rgba(255,255,255,0.9);
    line-height: 0.32rem;
  }
}

.bookLabelBox {
  height: 0.24rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.12rem;
  gap: 0.08rem;

  .bookLabel {
    height: 0.24rem;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0.12rem;
    padding: 0.04rem 0.1rem;
    font-size: 0.12rem;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    max-width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.intro {
  margin-top: 0.12rem;
  max-height: 0.40rem;
  color: rgba(255,255,255,0.6);
  font-size: 0.14rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  line-height: 0.20rem;
}

.playBtnBox {
  width: 1.80rem;
  height: 0.48rem;

  .readBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FF871F 0%, #FF0045 48%, #F40065 100%);
    border-radius: 0.24rem;
    line-height: 0.48rem;
    text-align: center;
    font-size: 0.18rem;
    font-weight: 500;
    color: #FFFFFF;
    font-family:  SFPro-Medium, SFPro;;

    .playBtnImage {
      width: 0.28rem;
      height: 0.28rem;
    }
  }
}
