.tagBookBox {
  width: 100%;
  margin-bottom: 0.32rem;

  .listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2.20rem;
    border: $pc_series_border;
    border-radius: 8px;
    background: $pc_detail_bg;
    margin-bottom: 0.08rem;
    padding: 0.1rem 0.24rem 0.1rem 0.1rem;

    .bookImageBox {
      position: relative;
      width: 1.5rem;
      height: 2rem;
      border-radius: 0.04rem;
    }

    .bookInfo {
      flex: 1;
      width: 100%;
      padding: 0 0.24rem 0 0.16rem;
      max-width: 10rem;

      .bookName {
        display: block;
        height: 0.32rem;
        font-size: 0.24rem;
        font-weight: 500;
        color: $pc_home_name_color;
        line-height: 0.32rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .bookLabelBox {
        margin-top: 0.12rem;
        overflow: hidden;
        display: flex;
        // flex-direction: row;
        flex-wrap: wrap;
        gap: 0.08rem;


        .bookLabel {
          background-color: $pc_detail_bg;
          border-radius: 0.12rem;
          font-size: 0.12rem;
          font-weight: 400;
          color: $pc_nav_color;
          max-width: 3rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 0.04rem 0.1rem;


          &:hover {
            transition: color 0.3s;
            color: $theme_color;
          }
        }
      }


      .intro {
        margin-top: 0.12rem;
        max-height: 0.40rem;
        color: $pc_nav_color;
        font-size: 0.14rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-wrap: break-word;
        line-height: 0.20rem;
      }
    }

    .readBtn {
      width: 1.80rem;
      height: 0.48rem;
      line-height: 0.48rem;
      border-radius: 0.24rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(270deg, #FF871F 0%, #FF0045 48%, #F40065 100%);
      font-size: 0.18rem;
      font-weight: 500;
      color: #FFFFFF;

      .playBtnImage {
        width: 0.28rem;
        height: 0.28rem;
        margin-right: 0.06rem;
      }
    }
  }
}


