.adWrap {
  @include m_footer_ad;
  position: fixed;
  bottom: 0.24rem;
  left: 0.32rem;
  width: calc(100% - 0.64rem);
  height: 1.2rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 0.24rem;
  border-radius: 0.16rem;

  .adClose {
    width: 0.39rem;
    height: 0.39rem;
    position: absolute !important;
    top: -0.52rem;
    right: 0;
    z-index: 9;
  }

  .adLeft {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;

    .logo {
      margin-right: 0.16rem;
      width: 0.88rem;
      height: 0.88rem;
    }

    .intro {
      width: 3.82rem;
      font-size: 0.26rem;
      font-weight: 400;
      color: $pc_crumbs_color;
      line-height: 0.32rem;
    }
  }

  .openBtn {
    display: inline-block;
    width: 1.6rem;
    height: 0.64rem;
    background: linear-gradient(270deg, #FF871F 0%, #FF0045 48%, #F40065 100%);
    border-radius: 0.32rem;
    font-size: 0.32rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 0.64rem;
    text-align: center;
  }
}

.adBg {
  background: url(../../../public/images/home/m-ad-bg.png) 0 0 / 100% 100% no-repeat;
}
